body{
    background-color: rgb(56, 63, 70);
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.txt{
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
